body {
  font-size: 18px;
  font-family: "Epilogue";
  width: 100%;
  color: var(--black);
  background-color: var(--white);
}

/*colors*/
:root {
  --white: hsl(0, 0%, 98%);
  --gray: hsl(0, 0%, 41%);
  --black: hsl(0, 0%, 8%);
}

/*navbar*/

nav {
  margin: 2rem;
  width: 95%;
  display: inline-flex;
  justify-content: space-between;
}

nav ul{
  margin: 0;
  display: flex;
  list-style: none;
}

a{
  margin: 1rem;
  text-decoration: none;
  color: var(--gray);
}

a:hover{
  color: var(--black);
}

.leftNav{
  display:inline-flex;
  justify-content: space-between;
}

.rightNav{
  display: inline-flex;
  justify-content: space-between;
}

.button {
  border: 2px solid var(--gray);
  padding: 1rem;
  border-radius: 1.2rem;
}

.button:hover{
  border-color: var(--black);
}

/*main*/
main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 4rem;
  width: 85%;
  margin: 1rem auto;
}

h1 {
  font-size: 5rem;
}

.leftMain{
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

p{
  font-size: 1.2rem;
  color: var(--gray);
  line-height: 2rem;
  text-align:justify;
  position: relative;
  bottom: 3rem;
  width: 80%;
}

#hero{
  width: 30rem;
}

.leftMain .button{
  width: 35%;
  background-color: var(--white);
  font-weight: 700;
  font-size: 1.2rem;
  position: relative;
  bottom: 2rem;
}

.customerGallery {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  position: relative;
  top: 1rem;
}

.customerGallery img{
  object-fit: contain;
}

footer {
  display: inline-flex;
  width: 95%;
  justify-content: right;
  align-items: center;
  margin-top: 2rem;
}
